[submodule "kartons/karton-classifier"]
	path = kartons/karton-classifier
	url = git@github.com:W3ndige/karton-classifier.git
[submodule "kartons/karton-minhash"]
	path = kartons/karton-minhash
	url = git@github.com:W3ndige/karton-minhash.git
[submodule "kartons/karton-similarity"]
	path = kartons/karton-similarity
	url = git@github.com:W3ndige/karton-similarity.git
[submodule "kartons/karton-r2disasm"]
	path = kartons/karton-r2disasm
	url = git@github.com:W3ndige/karton-r2disasm.git
[submodule "kartons/karton-strings-extractor"]
	path = kartons/karton-strings-extractor
	url = git@github.com:W3ndige/karton-strings-extractor.git
[submodule "kartons/karton-strings-scanner"]
	path = kartons/karton-strings-scanner
	url = git@github.com:W3ndige/karton-strings-scanner.git
