{% extends 'template.html' %}

{% block content %}

<div class="card-body">

    <div class="row mt-3">
        <div class="col-md">
            <div class="card">
                <div class="card-header">Search</div>
                    <div class="card-body">
                        <form class="form-inline" action="/search" accept-charset="UTF-8" method="post">
                            <div class="input-group flex-fill">
                              <input type="search" name="query" id="query" value="" placeholder="Query" class="form-control" aria-label="Query">
                              <div class="input-group-append">
                                  <input type="submit" name="commit" value="Search" class="btn btn-primary" data-disable-with="Search">
                                  <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#searchHelp">?</button>
                              </div>
                            </div>
                         </form>
                        <div class="collapse"id="searchHelp">
                            <div class="row mt-3">
                                <div class="col-md">
                                    <p> Search query allows for searching in a Lucerne like syntax:</p>
                                    <ul>
                                        <li>md5: </li>
                                        <li>sha1: </li>
                                        <li>sha256: </li>
                                        <li>sha512: </li>
                                        <li>ssdeep (<b>case sensitive</b>): </li>
                                        <li>string (<b>case sensitive</b>): </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="card">
                <div class="card-header">Samples</div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col">
                            MD5/SHA256/Filename
                        </th>
                        <th scope="col">Relation count</th>
                        <th scope="col">Filesize</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sample_with_info in samples_with_info %}
                    <tr>
                        <td>
                            <span class="index_span">{{sample_with_info.sample.md5}}</span>
                            <span class="index_span"><a href="/sample/{{ sample_with_info.sample.sha256 }}">{{sample_with_info.sample.sha256}}</a></span>
                            <span class="index_span">{{sample_with_info.sample.filename}}</span>
                        </td>
                        <td>{{ sample_with_info.rel_size}}</td>
                        <td> {{sample_with_info.sample.filesize}} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
         </div>
      </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            {% if offset > 0 %}
              <a class="btn btn-secondary" href="/?offset={{offset - 50}}">Previous</a>
            {% endif %}
            {% if samples_with_info | length == 50 %}
              <a class="btn btn-primary" href="/?offset={{offset + 50}}">Next</a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}