{% extends 'template.html' %}

{% block content %}

<div class="vh-100" id="network"></div>

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script type="text/javascript">
    var container = document.getElementById('network');
    var data = {
        nodes: {{ nodes | safe }},
        edges: {{ edges | safe }}
    };
    var options = {{ options | safe}};
    var network = new vis.Network(container, data, options);
</script>

{% endblock %}