{% extends 'template.html' %}

{% block content %}

<div class="card-body">
    <div class="row mt-3">
            {% if offset > 0 %}
              <a class="btn btn-secondary" href="?offset={{offset - 50}}">Previous</a>
            {% endif %}
            {% if strings | length == 50 %}
              <a class="btn btn-primary" href="?offset={{offset + 50}}">Next</a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">Strings</div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col">SHA256</th>
                        <th scope="col">Value</th>
                        <th scope="col">Heuristic</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for string in strings %}
                    <tr>
                        <td><a href="/string/{{ string.sha256 }}">{{string.sha256}}</a></td>
                        <td> {{string.value}} </td>
                        <td> {{string.heuristic}} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}