{% extends 'template.html' %}

{% block content %}

<div class="card-body">
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Sample information</div>
                <div class="card-body p-0">
                <table class="table data_table table-hover">
                  <tbody>
                    <tr>
                        <th>MD5</th>
                        <td class="hash_span">{{sample.md5}}</td>
                    </tr>
                    <tr>
                        <th>SHA1</th>
                        <td class="hash_span">{{sample.sha1}}</td>
                    </tr>
                    <tr>
                        <th>SHA256</th>
                        <td class="hash_span">{{sample.sha256}}</td>
                    </tr>
                    <tr>
                        <th>SHA512</th>
                        <td class="hash_span">{{sample.sha512}}</td>
                    </tr>
                    <tr>
                        <th>SSDeep</th>
                        <td>{{sample_ssdeep}}</td>
                    </tr>
                    <tr>
                        <th>Filename</th>
                        <td class="hash_span">{{sample.filename}}</td>

                    </tr>
                    <tr>
                        <th>Filetype</th>
                        <td class="hash_span">{{sample.filetype}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-header">Network</div>
                <div class="card-body h-100">
                    <div id="network"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="/sample/{{sample.sha256}}">Related</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sample/{{sample.sha256}}/relations">Relations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sample/{{sample.sha256}}/strings">Strings</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-0">
                    {% block sample_card %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script type="text/javascript">
    var container = document.getElementById('network');
    var data = {
        nodes: {{ nodes | safe }},
        edges: {{ edges | safe }}
    };
    var options = {{ options | safe}};

    var network = new vis.Network(container, data, options);
    network.fit()

</script>


{% endblock %}
