{% extends 'sample/index.html' %}

{% block sample_card %}


<table class="table table-hover">
	<thead>
		<tr>
            <th scope="col">Related Sample</th>
            <th scope="col">Relation Type</th>
            <th scope="col">Confidence</th>
		</tr>
	</thead>
	<tbody>
        {% for relation in relations %}
        <tr>
            {% if sample.sha256 == relation.parent.sha256 %}
                <td><a href="/sample/{{ relation.child.sha256 }}">{{relation.child.sha256}}</a></td>
            {% else %}
                <td><a href="/sample/{{ relation.parent.sha256 }}">{{relation.parent.sha256}}</a></td>
            {% endif %}
            <td> {{relation.relation_type}} </td>
            <td> {{relation.confidence}} </td>
        </tr>
        {% endfor %}

	</tbody>
</table>

{% endblock %}